body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100dvh;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    
    display: flex;
    justify-content: center;
    align-items: center;
}


.container{
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    text-align: center;


    h1{
        font-size: 24px;
        margin-bottom: 20px;
    }

    input{
        padding: 10px;
        border-radius: 5px;
        border: 1px solid white;
    }

    button{
        padding: 10px 20px;
        border-radius: 5px;
        background-color: greenyellow;
        color: black;
        border: none;
        cursor: pointer;

    }
}